backend/__pycache__
backend/api/__pycache__
backend/MANIFEST
backend/dist/
backend/docs/_build/
backend/docs/locale/
backend/node_modules/
backend/tests/coverage_html/
backend/tests/.coverage
backend/build/
backend/tests/report/
.android/
.bash_history
.bash_logout
.bash_profile
.bashrc
.cache/
.cloud-locale-test.skip
.config/
.expo/
.gitconfig
.httpie/
.npm/
.psql_history
.python_history
.viminfo

